# Node modules
node_modules/
*/node_modules/
frontend-desktop/node_modules

# Build output
dist/
build/
frontend-desktop/dist
frontend-desktop/dist-ssr

# Logs
*.log
logs
frontend-desktop/logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
frontend-desktop/*.log

# Environment files
.env
.env.*
*.local

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
*~

# Expo/React Native
.expo/
.expo-shared/

# Misc
coverage/
*.tgz

# Ignore local database files
*.sqlite

# Ignore Docker files (optional, if you don't want to commit them)
# Dockerfile*
# docker-compose*
# .dockerignore 